{% extends "base.html" %} {% block content %}

<div class="content-continer w-50">
  <img
    src="{{ url_for('static', path='img/mansueto.svg') }}"
    alt="Manseuto Institute Logo"
  />
  <div class="header-container position-relative text-center">
    <h2>
      <span class="sw-title">Stop</span
      ><span style="font-weight: 600">Watch</span>: Exploring Bus Service in
      Chicago
    </h2>
  </div>
  <hr />
  <div class="body-container text-left">
    <p>
      The Mansueto StopWatch — part of 
      <a
        href="https://miurban.uchicago.edu/opportunities/local-data-journalism-initiative/"
        >2024 Mansueto Data Journalism Initiative</a
      >— investigate Chciago Transit Authority (CTA) bus service after the COVID-19 
      pandemic disruptions. The StopWatch analyzes historic real time bus location 
      data as collected
      by the <a href="https://ghostbuses.com/">Chi Hack Night Ghost Bus</a> since May 2022 to date.
      The goal was to understand how bus service changed in the city of Chicago over
      time and across the city’s community areas.
    </p>
    <p>
      As part of the project we have provide the
      <a href="{{ url_for('report') }}">Bus Report Cards</a> — an interactive
      platform with indicators at the community, route and bus stop level to
      allow riders to explore relevant metrics about the stops and routes that
      they use. The report cards will update monthly with up to date metrics.
    </p>
    <p>
      Reviewing the real time bus locations as compared to the schedule, we
      found that the CTA initially opted to decrease scheduled service to match
      performance and then increased it, but these changes were
      disproportionately felt across Chicago’s community areas. Read our
      <a href="link">full report</a> to explore our methodology and additional
      findings in depth.
    </p>
    <p>
      Read more about our
      <a href="{{ url_for('methods') }}">methodology and download the data</a>
      in order to make your own findings here.
    </p>
    <p>Credits / created by ...</p>
  </div>
</div>

{% endblock %}
