{% extends "base.html" %} {% block content %}

<div class="content-continer w-50">
  <img
    src="{{ url_for('static', path='img/map_system.png') }}"
    alt="Manseuto Institute Logo"
    id="map-system"
  />
  <div class="header-container position-relative text-center">
    <h2>
      <span class="sw-title">Stop</span
      ><span style="font-weight: 600">Watch</span>: <br>Exploring Bus Service in
      Chicago
    </h2>
  </div>
  <hr />
  <div class="body-container text-left">
    <p>
      The Mansueto Institute's StopWatch tracks how bus service has changed in the city of Chicago after the COVID-19 pandemic. It includes <a href="{{ url_for('report') }}">Bus Report Cards</a>, an interactive platform that allows riders to compare bus service, including wait time and number of routes, across different neighborhoods. The key findings include: 
      </p> 
      
      <ul>
      <li>In 2023, the Chicago Transit Authority (CTA) decreased scheduled service to match actual service, giving the appearance of improved bus service.</li>
      <li>At the start of 2024, the CTA increased service but these changes were disproportionately felt across Chicago’s community areas.
      </li>
      </ul>
      </p>
      <p>
        Part of the <a target= "_blank" href="https://miurban.uchicago.edu/local-data-journalism_2024/">2024 Local Data Journalism Initiative</a>, this project is a collaboration between the University of Chicago's Mansueto Institute for Urban Innovation and Chicago Tribune. The StopWatch analyzes a unique dataset of over 100 million real time bus location collected by <a target= "_blank" href = "https://ghostbuses.com/">Chi Hack Night Ghost Bus</a>. 
      </p>
       <p>
      Visit the <a href="{{ url_for('methods') }}">data and methods </a> or read the <a href="link">full report</a> to learn more about the project.
      </p>
      
  </div>
</div>
{% endblock %}
