{% extends "base.html" %} {% block content %}

<div class="content-continer w-75">
  <h1 class="text-center">Meet the Team</h1>
  <hr />
  <div class="people-container">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="{{ url_for('static', path='img/cta-bus.jpg') }}"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">
              <a href="link">Regina Isabel Medina Rosales</a>
            </h4>
            <h6 class="card-position">Data Science Fellow</h6>
            <p class="card-text text-muted small">
              Regina Isabel Medina is studying the MS in Computational Analysis
              and Public Policy (MSCAPP) at the University of Chicago with the
              support of the Fulbright scholarship. She holds a BA in Public
              Policy from CIDE. She worked as a Data Analyst in the Mexican
              non-profit sector (at Intersecta and México, ¿Cómo Vamos?),
              transforming complex and unstructured data sources into appealing
              visualizations and publications that informed public policy
              discussions. Her topics of interest include gender, social
              equality, and non-punitive interventions. As a Harris student, she
              has worked as a Graduate Research Assistant and is part of the
              student initiatives of South Side Civic and the University of
              Chicago Mexican Association.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="{{ url_for('static', path='img/cta-bus.jpg') }}"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">
              <a href="link">Austin Steinhart</a>
            </h4>
            <h6 class="card-position">Data Science Fellow</h6>
            <p class="card-text text-muted small">
              Austin Steinhart is currently pursuing an MS in Computational
              Analysis and Public Policy from the University of Chicago’s Harris
              School of Public Policy. On campus, Austin serves as a Lead
              Developer with the Chicago Maroon and as a board member for South
              Side Civic. Before beginning graduate school, he worked in youth
              development supporting the next generation of change-makers and in
              political analytics as a full-stack analyst
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="{{ url_for('static', path='img/cta-bus.jpg') }}"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">
              <a href="link">Joseph De Leon</a>
            </h4>
            <h6 class="card-position">Data Science Fellow</h6>
            <p class="card-text text-muted small">
              Joseph De Leon is an undergraduate student at the University of
              Chicago, pursuing a dual major in Data Science and Urban Studies.
              During his time in the College, he has utilized GIS software to
              map the development of urban landscapes along Chicago’s 55th and
              63rd Streets throughout the 20th and 21st centuries. He has also
              employed spatial analysis to research the accessibility of
              affordable housing developments across diverse Chicago
              neighborhoods. He is interested in applying data analysis to
              uncover disparities on topics such as housing accessibility,
              climate resilience, and transit equity.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
