{% extends "base.html" %} {% block content %}

<div class="content-continer w-75">
  <h1 class="text-center">Meet the Team</h1>
  <hr />
  <h4>University of Chicago</h4>
   <!-- start Card-->
  <div class="people-container">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="{{ url_for('static', path='img/cb.png') }}"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://harris.uchicago.edu/directory/christopher-berry">Christopher R. Berry</a>
            </h4>
            <h6 class="card-position">Faculty Lead</h6>
            <p class="card-text text-muted small">
              Christopher R. Berry is the William J. and Alicia Townsend Friedman Professor at the Harris School of Public Policy and the College and director of the Mansueto Institute for Urban Innovation at the University of Chicago. He was the inaugural director of the Center for Municipal Finance and is a current faculty affiliate. Professor Berry's research interests include American politics, metropolitan governance, municipal finance, and intergovernmental fiscal relations. He is the author of 
              <em>
                  <a href="https://www.amazon.com/Imperfect-Union-Representation-Governments-Institutions/dp/0521758351">
                      Imperfect Union: Representation and Taxation in Multilevel Governments
                  </a>
              </em>
              , winner of the Best Book Award in Urban Politics from the American Political Science Association, 
              <em>
                  <a href="https://press.princeton.edu/books/paperback/9780691213828/theory-and-credibility">
                      Theory and Credibility
                  </a>
              </em>
              (with Scott Ashworth and Ethan Bueno de Mesquita), and many other scholarly publications. Professor Berry's research has been featured in the 
              <em>New York Times, Washington Post, Bloomberg BusinessWeek, Chicago Tribune, Crain's Chicago Business, Last Week Tonight with John Oliver</em>
              , and many other outlets. Professor Berry is a member of the American Academy of Arts and Sciences. For access to Professor Berry's writings, please visit his 
              <a href="https://sites.google.com/site/berryresearchpage/home">
                  research website
              </a>
              . To learn more about his research on property tax fairness, visit 
              <a href="http://www.propertytaxproject.uchicago.edu">
                  www.propertytaxproject.uchicago.edu
              </a>
              .
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- End Card-->
   <!-- start Card-->
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="{{ url_for('static', path='img/el.png') }}"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://erhla.github.io/">Eric Langowski</a>
            </h4>
            <h6 class="card-position">Senior Data Scientist</h6>
            <p class="card-text text-muted small">
              Eric Langowski is a Senior Data Scientist at the Mansueto Institute. He is also a senior data scientist for local government and has previously worked at the city, 
              county, state, and federal levels of government. His work with University of Chicago Professor Christopher 
              Berry on property taxes has been featured in numerous publications including the <em>New York Times, Washington Post,</em> 
              and <em>Bloomberg News</em>. He has in the past worked with the Coalition for Property Tax Justice and as an adjunct 
              lecturer at the University of Illinois Chicago. Eric holds a Master of Science in Computational Analysis & Public Policy 
              from the University of Chicago and a Bachelor of Science in Mathematics from Indiana University.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Card-->
        <!-- start Card-->
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="{{ url_for('static', path='img/ds.png') }}"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://erhla.github.io/">Divij Sinha</a>
            </h4>
            <h6 class="card-position">Research Engineer</h6>
            <p class="card-text text-muted small">
              Divij Sinha earned an MS in Computational Analysis and Public Policy (MS CAPP) from the University of 
              Chicago’s Harris School of Public Policy and is a research engineer with the Mansueto Institute for Urban 
              Innovation. Before this, he has spent time working at the intersection of urban policy research and 
              practice at the Urban Informatics Lab at the Indian Institute of Human Settlements. He has worked 
              across themes like domestic work, employment, child and maternal health, and, migration.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Card-->
    <!-- Start Card-->
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="{{ url_for('static', path='img/rr.jpeg') }}"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">
              <a href="link">Regina Isabel Medina Rosales</a>
            </h4>
            <h6 class="card-position">Data Science Fellow</h6>
            <p class="card-text text-muted small">
              Regina Isabel Medina is studying the MS in Computational Analysis
              and Public Policy (MSCAPP) at the University of Chicago with the
              support of the Fulbright scholarship. She holds a BA in Public
              Policy from CIDE. She worked as a Data Analyst in the Mexican
              non-profit sector (at Intersecta and México, ¿Cómo Vamos?),
              transforming complex and unstructured data sources into appealing
              visualizations and publications that informed public policy
              discussions. Her topics of interest include gender, social
              equality, and non-punitive interventions. As a Harris student, she
              has worked as a Graduate Research Assistant and is part of the
              student initiatives of South Side Civic and the University of
              Chicago Mexican Association.
            </p>
          </div>
        </div>
      </div>
  </div>
     <!-- End Card-->
     <!-- Start Card-->
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="{{ url_for('static', path='img/as.jpeg') }}"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">
              <a href="link">Austin Steinhart</a>
            </h4>
            <h6 class="card-position">Data Science Fellow</h6>
            <p class="card-text text-muted small">
              Austin Steinhart is currently pursuing an MS in Computational
              Analysis and Public Policy from the University of Chicago’s Harris
              School of Public Policy. On campus, Austin serves as a Lead
              Developer with the Chicago Maroon and as a board member for South
              Side Civic. Before beginning graduate school, he worked in youth
              development supporting the next generation of change-makers and in
              political analytics as a full-stack analyst
            </p>
          </div>
        </div>
      </div>
    </div>
     <!-- End Card-->
     <!-- Start Card-->
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="{{ url_for('static', path='img/jdl.jpeg') }}"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">
              <a href="link">Joseph De Leon</a>
            </h4>
            <h6 class="card-position">Data Science Fellow</h6>
            <p class="card-text text-muted small">
              Joseph De Leon is an undergraduate student at the University of
              Chicago, pursuing a dual major in Data Science and Urban Studies.
              During his time in the College, he has utilized GIS software to
              map the development of urban landscapes along Chicago’s 55th and
              63rd Streets throughout the 20th and 21st centuries. He has also
              employed spatial analysis to research the accessibility of
              affordable housing developments across diverse Chicago
              neighborhoods. He is interested in applying data analysis to
              uncover disparities on topics such as housing accessibility,
              climate resilience, and transit equity.
            </p>
          </div>
        </div>
      </div>
    </div>
     <!-- End Card-->
      <hr>
      <h4>Chicago Tribune</h4>
           <!-- Start Card-->
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="{{ url_for('static', path='img/sf.jpg') }}"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.chicagotribune.com/author/sarah-freishtat/">Sarah Freishtat</a>
            </h4>
            <h6 class="card-position">Business Reporter</h6>
            <p class="card-text text-muted small">
              Sarah Freishtat is a business reporter for the Chicago Tribune covering transportation. 
              She was previously an enterprise reporter covering Aurora and the suburbs, and has 
              also worked for a daily newspaper in Anderson, S.C.
            </p>
          </div>
        </div>
      </div>
    </div>
     <!-- End Card-->
      
  </div>
</div>
{% endblock %}
