{% extends "base.html" %} {% block content %}

<div class="title-continer w-50">
  <h1 class="text-center">Bus Report Cards</h1>
  Click on a community area below to begin exploring the bus service in Chicago.
  <hr />
</div>

<div id="interface">
  <tableau-viz
    id="tableauViz"
    src="https://public.tableau.com/views/ReportCards_17218488150890/MapDashboard"
    toolbar="bottom"
    hide-tabs
  >
  </tableau-viz>
</div>

<div class="body-container text-left">
    <p class="mb-5">
      <b>Note:</b> The dashboard is currently being updated to live data. In the meantime, please find daily updated metrics data <a href="https://d2v7z51jmtm0iq.cloudfront.net/cta-stop-watch/metrics/stop_metrics_df_latest.parquet"></a>
    </p>
</div>

{% endblock %}
